
<a asp-action="ScreenMainUser" asp-controller="MainUser">
    تسجيل مستخدم جديد المسؤول
</a>
<br />
<a asp-action="ScreenTableProgramUser" asp-controller="ProgramUser">
    تسجيل مستخدم برنامج جديد
</a>
 