 @model List<ProgramUser>
 <div>
    <p class="text-danger">@ViewBag.Error</p>
 </div>

    <a asp-action="ScreenAddProgramUser" asp-controller="ProgramUser">
    تسجيل زبون جديد
</a>
<table class="table">
    <thead>
        <tr>
            <th>اسم الزبون</th>
             
            <th>تعديل</th>
            <th>حذف</th>


        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>


                <td><a href="~/ProgramUser/ScreenEditProgramUser?id=@item.Id">تعديل</a></td>
                <td><a href="~/ProgramUser/DeleteProgramUser?id=@item.Id">حذف</a></td>


            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="ScreenProgramUser" asp-controller="ProgramUser">Back to List</a>
</div>
