


 

<!--=============================================================================================-->
<!--الشريد العلوي للصفحات--> 
<div class="Top-bar d-Grid align-item-Center">
    <!--عناصر لنتقال للصفحات الختصار-->
    <ul class="Link-tab d-Flex  Justify-content-around list-Unstyled P-0">
        <li><a href="#">الصفحه الاوله</a></li>
        <li><a href="#">الصفحه الثانيه</a></li>
        <li><a href="#">الصفحه الثالثه</a></li>
    </ul>
    <!--عناصر للايقونات لي على جنب الشريد العلوي--> 
    <ul class="List-grid d-Flex Justify-content-around list-Unstyled P-0">
        <li><a class="Grid"><span></span></a></li>
        <li><a class="List"><span></span></a></li>
    </ul>
</div>
<!--===============================================================================================-->

<!--HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH-->
<!--الشاشه الاوله-->
<div class="Content-box mt-50">
    <!--مربعات اختصار الرئيسية-->
    <div class="cards d-Grid">
        <!--HHHHHHHHHHHHHHHHHHHH----مربع الختصار الاوله----HHHHHHHHHHHHHHHHHH-->
        <div class="card-item Max-Width-card-1  bg-01">
            
            <a asp-area="" asp-controller="Login" asp-action="ScreenLogin" class="card-item-a"></a>
            <!--*************مربع النجوم ورقم وشكل المستحدم***************-->
            <ul class="list-Unstyled P-0 d-Flex align-item-Center">
                <!--رسم سوره المستخدم ورقم -->
                <li>
                    <span class="user"><i class="icon-user"></i> 4,991,022</span>
                </li>
                <!--انجوم ورقم-->
                <li>
                    <span class="stars">
                        <i class="star"></i>
                        <i class="star"></i>
                        <i class="star"></i>
                        <i class="star off "></i>
                        <i class="star off"></i>
                    </span>
                    <em>4.5</em>
                </li>
            </ul>
            <!--*************ايقونه واسم المربع وتفاصيل*************-->
            <div class="thumb">
                <!--الصوره-->
                <div class="image">
                    <img src="~/img\img_Layout\img_box\icon16.png" />
                </div>
                <!--النص-->
                <div class="text">
                    <h2>يويات العمل</h2>
                    <p>اضف تفاصيل يومياتك من العمل</p>
                </div>

            </div>
            <a href="#">المزيد من المعلومات</a>
        </div>
        <!--HHHHHHHHHHHHHHHHHHHH----مربع الختصار الثانيه----HHHHHHHHHHHHHHHHHH-->
        <div class="card-item Max-Width-card-2 bg-02">
            <a asp-area="" asp-controller="Login" asp-action="ScreenLogin" class="card-item-a"></a>
           
            <!--*************مربع النجوم ورقم وشكل المستحدم***************-->
            <ul class="list-Unstyled P-0 d-Flex align-item-Center">
                <!--رسم سوره المستخدم ورقم -->
                

                <li>
                    <span class="user"><i class="icon-user"></i> 4,991,022</span>
                </li>
                <!--انجوم ورقم-->
                <li>
                    <span class="stars">
                        <i class="star"></i>
                        <i class="star"></i>
                        <i class="star"></i>
                        <i class="star off "></i>
                        <i class="star off"></i>
                    </span>
                    <em>4.5</em>
                </li>
            </ul>
            <!--*************ايقونه واسم المربع وتفاصيل*************-->
            

            <div class="thumb">
                <!--الصوره-->
                <div class="image">
                    <img src="~/img\img_Layout\img_box\icon16.png" />
                </div>
                <!--النص-->
                <div class="text">
                    <h2>يويات العمل</h2>
                    <p>اضف تفاصيل يومياتك من العمل</p>
                </div>

            </div>
            <a href="#">المزيد من المعلومات</a>
        </div>
        <!--HHHHHHHHHHHHHHHHHHHH----الشاشة الختصار الثالثه----HHHHHHHHHHHHHHHHHH-->
        <div class="card-item Max-Width-card-3 bg-03">
            <a asp-area="" asp-controller="Login" asp-action="ScreenLogin" class="card-item-a"></a>
            <!--*************مربع النجوم ورقم وشكل المستحدم***************-->
            <ul class="list-Unstyled P-0 d-Flex align-item-Center">
                <!--رسم سوره المستخدم ورقم -->
                <li>
                    <span class="user"><i class="icon-user"></i> 4,991,022</span>
                </li>
                <!--انجوم ورقم-->
                <li>
                    <span class="stars">
                        <i class="star"></i>
                        <i class="star"></i>
                        <i class="star"></i>
                        <i class="star off "></i>
                        <i class="star off"></i>
                    </span>
                    <em>4.5</em>
                </li>
            </ul>
            <!--*************ايقونه واسم المربع وتفاصيل*************-->
            <div class="thumb">
                <!--الصوره-->
                <div class="image">
                    <img src="~/img\img_Layout\img_box\icon16.png" />
                </div>
                <!--النص-->
                <div class="text">
                    <h2>يويات العمل</h2>
                    <p>اضف تفاصيل يومياتك من العمل</p>
                </div>

            </div>
            <a href="#">المزيد من المعلومات</a>
        </div>
    </div>
    <!--HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH-->
    <!--مربعات اختصار المستخدمين-->
    <div class="boxs-Short d-Grid">
        <!--HHHHHHHHHHHHHHHHHHHH----مربع الختصار  المستخدم الاول----HHHHHHHHHHHHHHHHHH-->
        <div class="box-Short Max-Width-box-Short-1">

            <a class="box-Short-a" asp-area="" asp-controller="Login" asp-action="ScreenLogin"></a>

            <!--********  الصوره واسم المستخدم واسم الصلاحيه ********-->
            <div class="thumb-Short d-Flex align-item-Center">
                <div class="image"><img src="~/img/img_Layout/img_box/icon12.png" /></div>
                <div class="text">
                    <h2>المركبات</h2>
                    <p>اضف مركبات جديده</p>
                </div>
                <a>المزيد من المعلومات</a>
            </div>
            <!--******************  صوره المصغره  *************************-->



        </div>
        <!--HHHHHHHHHHHHHHHHHHHH----مربع الختصار  المستخدم الاول----HHHHHHHHHHHHHHHHHH-->
        <div class="box-Short  Max-Width-box-Short-2">

            <a class="box-Short-a" asp-area="" asp-controller="Login" asp-action="ScreenLogin"></a>

            <!--********  الصوره واسم المستخدم واسم الصلاحيه ********-->
            <div class="thumb-Short d-Flex align-item-Center">
                <div class="image"><img src="~/img/img_Layout/img_box/icon12.png" /></div>
                <div class="text">
                    <h2>المركبات</h2>
                    <p>اضف مركبات جديده</p>
                </div>
                <a>المزيد من المعلومات</a>
            </div>
            <!--******************  صوره المصغره  *************************-->



        </div>
        <!--HHHHHHHHHHHHHHHHHHHH----مربع الختصار  المستخدم الاول----HHHHHHHHHHHHHHHHHH-->
        <div class="box-Short  Max-Width-box-Short-3">

            <a class="box-Short-a" asp-area="" asp-controller="Login" asp-action="ScreenLogin"></a>

            <!--********  الصوره واسم المستخدم واسم الصلاحيه ********-->
            <div class="thumb-Short d-Flex align-item-Center">
                <div class="image"><img src="~/img/img_Layout/img_box/icon12.png" /></div>
                <div class="text">
                    <h2>المركبات</h2>
                    <p>اضف مركبات جديده</p>
                </div>
                <a>المزيد من المعلومات</a>
            </div>
            <!--******************  صوره المصغره  *************************-->



        </div>
        <!--HHHHHHHHHHHHHHHHHHHH----مربع الختصار  المستخدم الاول----HHHHHHHHHHHHHHHHHH-->
        <div class="box-Short  Max-Width-box-Short-4">

            <a class="box-Short-a" asp-area="" asp-controller="Login" asp-action="ScreenLogin"></a>

            <!--********  الصوره واسم المستخدم واسم الصلاحيه ********-->
            <div class="thumb-Short d-Flex align-item-Center">
                <div class="image"><img src="~/img/img_Layout/img_box/icon12.png" /></div>
                <div class="text">
                    <h2>المركبات</h2>
                    <p>اضف مركبات جديده</p>
                </div>
                <a>المزيد من المعلومات</a>
            </div>
            <!--******************  صوره المصغره  *************************-->



        </div>
        <!--HHHHHHHHHHHHHHHHHHHH----مربع الختصار  المستخدم الاول----HHHHHHHHHHHHHHHHHH-->
        <div class="box-Short  Max-Width-box-Short-5">

            <a class="box-Short-a" asp-area="" asp-controller="Login" asp-action="ScreenLogin"></a>

            <!--********  الصوره واسم المستخدم واسم الصلاحيه ********-->
            <div class="thumb-Short d-Flex align-item-Center">
                <div class="image"><img src="~/img/img_Layout/img_box/icon12.png" /></div>
                <div class="text">
                    <h2>المركبات</h2>
                    <p>اضف مركبات جديده</p>
                </div>
                <a>المزيد من المعلومات</a>
            </div>
            <!--******************  صوره المصغره  *************************-->



        </div>


    </div>
    <!--HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH-->
    <!--مربعات اختصار المستخدمين-->
   
    <div class="boxs d-Grid">
        <!--HHHHHHHHHHHHHHHHHHHH----مربع الختصار  المستخدم الاول----HHHHHHHHHHHHHHHHHH-->
        <div class="box">
            <!--    ثلاثه نقاط لمختصه لشاشه المنبثقه-->
            <div class="btn linkDropBottom" data-linkDropBottom="LinkDropUser">
                <span class="dots"><i></i></span>
                <ul id="LinkDropUser" class="list-Unstyled P-0 dropDownBottom">
                    <li><a>Link</a></li>
                    <li><a>Link</a></li>
                </ul>
            </div>


            <!--********  الصوره واسم المستخدم واسم الصلاحيه ********-->
            <div class="thumb d-Flex align-item-Center">
                <div class="img"><img src="~/img/img_Layout/img_box/OIP (3).jpeg" /></div>
                <div class="Caption">
                    <h5>Mohmad Ali Msg</h5>
                    <p>مسؤول</p>
                </div>
            </div>
            <!--******************  صوره المصغره  *************************-->

            <div class="foot d-Flex align-item-Center Justify-content-between">
                <div class="image-users d-Flex align-item-Center">
                    <figure><img src="~/img/img_Layout/img_box/OIP (1).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (2).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (3).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (4).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (5).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (6).jpeg" alt="لا يوجد صوره" /></figure>

                </div>
                <!--******************  total  *************************-->

                <div class="Total">
                    <span><small>3331,313 total</small></span>

                </div>
            </div>

        </div>
        <!--HHHHHHHHHHHHHHHHHHHH----مربع الختصار  المستخدم الثاني----HHHHHHHHHHHHHHHHHH-->
        <div class="box">
            <div class="btn linkDropBottom" data-linkDropBottom="LinkDropUser2">
                <span class="dots"><i></i></span>
                <ul id="LinkDropUser2" class="list-Unstyled P-0 dropDownBottom">
                    <li><a>Link</a></li>
                    <li><a>Link</a></li>
                </ul>
            </div>
            <!--********  الصوره واسم المستخدم واسم الصلاحيه ********-->
            <div class="thumb d-Flex align-item-Center">
                <div class="img"><img src="~/img/img_Layout/img_box/OIP (7).jpeg" /></div>
                <div class="Caption">
                    <h5>Ahmad Ali Msg</h5>
                    <p>مسؤول</p>

                </div>
            </div>
            <!--******************  صوره المصغره  *************************-->

            <div class="foot d-Flex align-item-Center Justify-content-between">
                <div class="image-users d-Flex align-item-Center">
                    <figure><img src="~/img/img_Layout/img_box/OIP (7).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (8).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (9).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (10).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (11).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (12).jpeg" alt="لا يوجد صوره" /></figure>

                </div>
                <!--******************  total  *************************-->

                <div class="Total">
                    <span><small>3331,313 total</small></span>

                </div>
            </div>

        </div>
        <!--HHHHHHHHHHHHHHHHHHHH----مربع الختصار  المستخدم الثالث----HHHHHHHHHHHHHHHHHH-->
        <div class="box">
            <div class="btn linkDropBottom" data-linkDropBottom="LinkDropUser3">
                <span class="dots"><i></i></span>
                <ul id="LinkDropUser3" class="list-Unstyled P-0 dropDownBottom">
                    <li><a>Link</a></li>
                    <li><a>Link</a></li>
                </ul>
            </div>
            <!--********  الصوره واسم المستخدم واسم الصلاحيه ********-->
            <div class="thumb d-Flex align-item-Center">
                <div class="img"><img src="~/img/img_Layout/img_box/OIP (2).jpeg" /></div>
                <div class="Caption">
                    <h5>Mohmad Ali Msg</h5>
                    <p>مسؤول</p>

                </div>
            </div>
            <!--******************  صوره المصغره  *************************-->

            <div class="foot d-Flex align-item-Center Justify-content-between">
                <div class="image-users d-Flex align-item-Center">
                    <figure><img src="~/img/img_Layout/img_box/OIP (12).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (10).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (11).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (6).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (9).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (5).jpeg" alt="لا يوجد صوره" /></figure>

                </div>
                <!--******************  total  *************************-->

                <div class="Total">
                    <span><small>3331,313 total</small></span>

                </div>
            </div>

        </div>
        <!--HHHHHHHHHHHHHHHHHHHH----مربع الختصار  المستخدم الرابع----HHHHHHHHHHHHHHHHHH-->
        <div class="box">
            <div class="btn linkDropBottom" data-linkDropBottom="LinkDropUser4">
                <span class="dots"><i></i></span>
                <ul id="LinkDropUser4" class="list-Unstyled P-0 dropDownBottom">
                    <li><a>Link</a></li>
                    <li><a>Link</a></li>
                </ul>
            </div>
            <!--********  الصوره واسم المستخدم واسم الصلاحيه ********-->
            <div class="thumb d-Flex align-item-Center">
                <div class="img"><img src="~/img/img_Layout/img_box/OIP (7).jpeg" /></div>
                <div class="Caption">
                    <h5>Mohmad Ali Msg</h5>
                    <p>مسؤول</p>

                </div>
            </div>
            <!--******************  صوره المصغره  *************************-->

            <div class="foot d-Flex align-item-Center Justify-content-between">
                <div class="image-users d-Flex align-item-Center">
                    <figure><img src="~/img/img_Layout/img_box/OIP (12).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (3).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (8).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (11).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (12).jpeg" alt="لا يوجد صوره" /></figure>
                    <figure><img src="~/img/img_Layout/img_box/OIP (8).jpeg" alt="لا يوجد صوره" /></figure>

                </div>
                <!--******************  total  *************************-->

                <div class="Total">
                    <span><small>3331,313 total</small></span>

                </div>
            </div>

        </div>
    </div>

</div>
<!--HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH-->













































































<!--<div class="Top-bar d-Grid align-item-Center">
     
    <ul class="Link-tab d-Flex Justify-content-around list-Unstyled P-0 margin-inherit height-100 align-item-Center">
        <li><a class="LinkTab ActiveLink" href="#" data-areatab="tab01">Recommended</a></li>
        <li><a class="LinkTab " href="#" data-areatab="tab02">Trending Games</a></li>
        <li><a class="LinkTab " href="#" data-areatab="tab03">New Releasses</a></li>
    </ul>
    <ul class="List-grid   d-Flex Justify-content-around list-Unstyled P-0 margin-inherit">
        <li><a class="Grid" href="#"><span></span></a></li>
        <li><a class="List" href="#"><span></span></a></li>

    </ul>
</div>-->
 