@model List<Driver>

<a asp-action="ScreenAddDriver" asp-controller="Driver">
    تسجيل زبون جديد
</a>
 <table class="table">
     <thead>
         <tr>
            <th>الاسم السائق</th>
            <th>رقم الهاتف</th>
            <th>تاريخ انتهاء الرخصة</th>
            <th>تعديل</th>
            <th>خذف</th>
            
         </tr>
     </thead>
     <tbody>
         @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.PhoneNumber</td>
                <td>@item.LicenseExpirationDate.Date.ToString("yyyy-MM-dd")</td>
                <td><a class="btn btn-primary" href="~/Driver/ScreenEditDriver?driver_Edit_Id=@item.Id">نعديل</a></td>

                <td><a class="btn btn-primary" href="~/Driver/ScreenDaleteDriver?driver_Dalete_Id=@item.Id">خذف</a></td>

            </tr>
        }
    </tbody>
 </table>
<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>
